.card__quarto{
    background-color: var(--amarelo-sistema);

}


/* @keyframes indezQuarto{
    0%{
        z-index: 4;
    }
    25%{
        z-index: 4;
    }
    50%{
        z-index: 100;
    }
    100%{
        z-index: 100;
    }
} */